version: "3.8"
services:
  kafka:
     image: bitnami/kafka:latest
     container_name: kafka
     ports:
          - "9092:9092"
     environment:
          - KAFKA_ENABLE_KRAFT= yes
          - KAFKA_CFG_PROCESS_ROLES=broker,controller
          - KAFKA_CFG_NOTE_ID=1
          - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
          
          - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
          - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
          - KAFKA_CFG_LISTENERS_SECURITY_PROTOCOL_MAP=PLAINTEXT,CONTROLLER:PLAINTEXT
          - KAFKA_CFG_CONTROLLER_LISTENERS_NAME=CONTROLLER
          
          - KAFKA_CFG_AUTO_CREATE_TOPIC_ENABLE=true
          -	ALLOW_PLAINTEXT_LISTENERS=yes
     volumes:
          - kafka_date:/nitnami/kafka
          
volumes:
     kafka_date: